body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

h1 {
    text-align: center;
}

#galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    max-width: 80vw;
}
